@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); */
    border-bottom: 1px solid  #e6e4e4;
}
.header1{
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    padding: 7px;
}
.header1 h4{
    font-size: 1rem;
    color: rgb(100, 98, 98);
    font-weight: 500;
    margin-left: 5rem;
}
.header1 i{
    font-size: 1rem;
    margin-right: 5rem;
    display: inline-block;
    padding-top: 2px;
}
.header1 i span{
    color: rgb(238, 20, 20);
    padding-left: 1.5rem;
}
.header2{
    display: flex;
    justify-content: center;
    margin-bottom: -5px;
    cursor: pointer;
}
.header2__logo{
    flex-basis: 13%;
}
.header2__logo img{
    width: 70%;
}
.header2__nav{
    flex-basis: 65%;
    padding-right: 24px;
}   
.header2__nav .header__nav--ul{
    display: flex;
    justify-content: space-around;
    padding-top: 36px;
    list-style: none;
}
.header2__nav .header__nav--ul .header__nav--ul__li{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
}
.header__nav--ul .list{
    position: relative;
    transition: 0.5s ease;
}
.header__nav--ul .list:hover  .list__menu{
    opacity: 1;
    visibility: visible;
    transition: 0.15s ease;
}

.header__nav--ul .list .list__menu{
    position: absolute;
    top: 97%;
    left: -12%;
    display: flex;
    flex-direction: column;
    width: 240%;
    white-space: nowrap;
    padding-top: -52px;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    opacity: 0; 
    visibility: hidden;
}
.header__nav--ul .list .list__menu .list__menu--item{
    padding: 10px 15px;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 2px;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(49, 48, 48);
    list-style: none;
}
.header__nav--ul .list .list__menu .list__menu--item:last-child{
    border-bottom: 0;
}
.header__nav--ul .list .list__menu .list__menu--item:hover{
    color: #f56200;
   
}   
.header2__nav ul li:hover{
    color: #f56200;
}
.list__menu .more__menu{
    position: relative;
} 
.list__menu .more__menu:hover .more__menu--sub{
    opacity: 1;
    visibility: visible;
}
.list__menu .more__menu .more__menu--sub{
    position: absolute;
    right: -163px;
    top: -1px;
    width: 80%;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: 0.1s linear ;
    background-color: #fff ;
}
 .more__menu .more__menu--sub .more__menu--item{
    list-style: none;
    color: rgb(48, 47, 47);
    font-size: 1.2rem;
    padding: 10px 17px;
    border-bottom: 1px solid #cfcfcf;
    text-transform: capitalize;
}
 .more__menu .more__menu--sub .more__menu--item:last-child{
    border-bottom: 0;
}
 .more__menu .more__menu--sub .more__menu--item:hover{
    color: #f56200;
}

.list__menu .more1__menu{
    position: relative;
}
.list__menu .more1__menu:hover .more1__menu--sub{
    opacity: 1;
    visibility: visible;
}
.more1__menu .more1__menu--sub{
    position: absolute;
    right: -163px;
    top: -39px;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    width: 80%;
    background-color: #fff ;
    opacity: 0;
    visibility: hidden; 
    transition: 0.1s linear;
}
.more1__menu .more1__menu--sub .more1__menu--item{
    list-style: none;
    padding: 10px 17px;
    border-bottom: 1px solid #cfcfcf;
    color: rgb(48, 47, 47);
    font-size: 1.2rem;
    text-transform: capitalize;
}
.more1__menu .more1__menu--sub .more1__menu--item:last-child{
    border-bottom: 0;
}
.more1__menu .more1__menu--sub .more1__menu--item:hover{
    color: #f56200; 
}
.list__menu .more2__menu{
    position: relative;
}
.list__menu .more2__menu:hover .more2__menu--sub{
    opacity: 1;
    visibility: visible;
}
.more2__menu .more2__menu--sub{
    position: absolute;
    right: -123px;
    top: -77px;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff ;
    width: 60%;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s linear;
}
.more2__menu .more2__menu--sub .more2__menu--item{
    list-style: none;
    padding: 10px 17px;
    border-bottom: 1px solid #cfcfcf;
    color: rgb(48, 47, 47);
    font-size: 1.2rem;
    text-transform: capitalize;
}
.more2__menu .more2__menu--sub .more2__menu--item:hover{
    color: #f56200; 
}
.more2__menu .more2__menu--sub .more2__menu--item:last-child{
    border-bottom: 0;
}

.header2__nav ul li i{
    padding-left: 0.5rem;
}
.header__nav--ul .list2{
    position: relative;
}
.header__nav--ul .list2:hover .list2__menu{
    visibility: visible;
    opacity: 1;
}
.header__nav--ul .list2 .list2__menu{
    position: absolute;
    top:100%;
    left: -10px;
    width: 280%;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff ;
    opacity: 0;
    visibility: hidden;
}
.header__nav--ul .list2 .list2__menu .list2__item{
    list-style: none;
    padding: 10px 17px;
    color: rgb(48, 47, 47);
    font-size: 1.3rem;
    text-transform: capitalize;
    border-bottom: 1px solid #cfcfcf;
    font-weight: 500;
}
.header__nav--ul .list2 .list2__menu .list2__item:last-child{
    border-bottom: 0;
}
.header__nav--ul .list2 .list2__menu .list2__item:hover{
    color: #f56200; 
}



.header__nav--ul .list3{
    position: relative;
}
.header__nav--ul .list3:hover .list3__menu{
    visibility: visible;
    opacity: 1;
}
.header__nav--ul .list3 .list3__menu{
    width: 139%;
    visibility: hidden;
    top:100%;
    position: absolute;
    opacity: 0;
    left: -10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff ;
    border: 1px solid #cfcfcf;
}
.header__nav--ul .list3 .list3__menu .list3__item{
    list-style: none;
    padding: 10px 17px;
    color: rgb(48, 47, 47);
    font-size: 1.3rem;
    text-transform: capitalize;
    border-bottom: 1px solid #cfcfcf;
    font-weight: 500;
    list-style: none;
}
.header__nav--ul .list3 .list3__menu .list3__item:last-child{
    border-bottom: 0;
}
.header__nav--ul .list3 .list3__menu .list3__item:hover{
    color: #f56200; 
}


.header2__search{
    flex-basis: 4%;
    padding-top: 31px;
    font-size: 2rem;
    text-align: center; 
    color: #000;
   
}
/* .header2__search:hover{
    opacity: 0.8;
} */
.header2__account{
    flex-basis: 4%;
    padding-top: 31px;
    font-size: 2rem;
    text-align: center;
    color: #000;
}
/* .header2__account:hover{
    opacity: 0.8;
} */
.header__cart{
    flex-basis: 4%;
    padding-top: 31px;
    font-size: 2rem;
    text-align: center;
    color: #000;
}
/*MAIN*/
main{
    margin-top: 123px;
}
main .introduce{
    background-color: #F8F8F8;
    border-bottom: 1px solid #e6e4e4;
}
main .introduce h1{
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
}
main .introduce p{
    font-size: 1.3rem;
    font-weight: 400;
    padding: 10px 80px 20px 80px;
    color: #a5a5a5;
    text-align: center;
}
/*FILTER*/
main .filters__container{
    display: flex;
    padding: 20px 80px;
    justify-content: space-between;
}
main .filters__container .filter__item1{
    flex-basis: 18%;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 0; */
    max-height: 34px;
    position: relative;
    cursor: pointer;
}
main .filters__container .filter__item1:hover .drop__list1{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}
.filter__item1 .drop__list1{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    border: 1px solid #cfcfcf;
    padding: 0 10px;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
}
.filter__item1 .drop__list1 .drop__list1--item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}
.filter__item1 .drop__list1 .drop__list1--item:hover{
    opacity: 0.8;
}
.filter__item1 .drop__list1 .drop__list1--item:last-child{
    padding-bottom: 20px;
}
.drop__list1--item h6{
    font-size: 1.3rem;
    color: #000;
    font-weight: 400;
}
.drop__list1--item input{
    color: #cfcfcf;
    cursor: pointer;
}
main .filters__container .filter__item1 .filter__item1--txt{
    padding-left: 10px;
    font-size: 1.2rem;
    color: rgb(137, 121, 121);
    font-weight: 500;
}
main .filters__container .filter__item1 .filter__item1--icon{
    padding-right: 10px;
    font-size: 1.2rem;
    color: rgb(137, 121, 121);;
    font-weight: 500;
}
main .filters__container .filter__item2{
    flex-basis: 18%;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    max-height: 34px;
    position: relative;
    cursor: pointer;
}
main .filters__container .filter__item2:hover .drop__list2{
    opacity: 1;
    visibility: visible;
}
.filter__item2 .drop__list2{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    border: 1px solid #cfcfcf;
    padding: 0 10px;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
}
.filter__item2 .drop__list2 .drop__list2--item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}
.filter__item2 .drop__list2 .drop__list2--item:hover{
    opacity: 0.8;
}
.filter__item2 .drop__list2 .drop__list2--item:last-child{
    padding-bottom: 20px;
}
.drop__list2--item h6{
    font-size: 1.3rem;
    color: #000;
    font-weight: 400;
    cursor: pointer;
}
.drop__list2--item input{
    color: #cfcfcf;
    cursor: pointer;
}
main .filters__container .filter__item2 .filter__item2--txt{
    padding-left: 10px;
    font-size: 1.2rem;
    color: rgb(137, 121, 121);;
    font-weight: 500;
}
main .filters__container .filter__item2 .filter__item2--icon{
    padding-right: 10px;
    font-size: 1.2rem;
    color: rgb(137, 121, 121);
    font-weight: 500;
}
main .filters__container .filter__item3{
    flex-basis: 18%;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    max-height: 34px;
    position: relative;
    cursor: pointer;
}
main .filters__container .filter__item3:hover .drop__list3{
    opacity: 1;
    visibility: visible;
}
.filter__item3 .drop__list3{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    border: 1px solid #cfcfcf;
    padding: 0 10px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    background-color: #fff;
}
.filter__item3 .drop__list3 .drop__list3--item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}
.filter__item3 .drop__list3 .drop__list3--item:hover{
    opacity: 0.8;
}
.filter__item3 .drop__list3 .drop__list3--item:last-child{
    padding-bottom: 20px;
}
.drop__list3--item h6{
    font-size: 1.3rem;
    color: #000;
    font-weight: 400;
    cursor: pointer;
}
.drop__list3--item input{
    color: #cfcfcf;
    cursor: pointer;
}
main .filters__container .filter__item3 .filter__item3--txt{
    padding-left: 10px;
    font-size: 1.2rem;
    color: rgb(137, 121, 121);;
    font-weight: 500;
}
main .filters__container .filter__item3 .filter__item3--icon{
    padding-right: 10px;
    font-size: 1.2rem;
    color: rgb(137, 121, 121);;
    font-weight: 500;
}
main .filters__container .filter__item4{
    flex-basis: 18%;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    max-height: 34px;
    position: relative;
    cursor: pointer;
}
main .filters__container .filter__item4:hover .drop__list4{
    opacity: 1;
    visibility: visible;
}
.filter__item4 .drop__list4{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    border: 1px solid #cfcfcf;
    padding: 0 10px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    max-height: 250px;
    overflow-y: scroll;
    background-color: #fff;
}
.filter__item4 .drop__list4 .drop__list4--item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    max-height: 250px;
}
.filter__item4 .drop__list4 .drop__list4--item:hover{
    opacity: 0.8;
}
.filter__item4 .drop__list4 .drop__list4--item:last-child{
    padding-bottom: 20px;
}
.drop__list4--item h6{
    font-size: 1.3rem;
    color: #000;
    font-weight: 400;
    cursor: pointer;
    text-transform: capitalize;
}
.drop__list4--item input{
    color: #cfcfcf;
    cursor: pointer;
}
main .filters__container .filter__item4 .filter__item4--txt{
    padding-left: 10px;
    font-size: 1.2rem;
    color: rgb(137, 121, 121);;
    font-weight: 500;
}
main .filters__container .filter__item4 .filter__item4--icon{
    padding-right: 10px;
    font-size: 1.2rem;
    color: rgb(137, 121, 121);;
    font-weight: 500;
}

/*LIST__TSHIRT*/
main .list__tshirt{
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
main .list__tshirt .list__tshirt--item{
    flex-basis: 24%;
    position: relative;
    margin-bottom: 3rem;
}
main .list__tshirt .list__tshirt--item img{
    width: 100%;
}
main .list__tshirt .list__tshirt--item  h4{
    font-size: 1.4rem;
    color: #111;
    font-weight: 400;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
main .list__tshirt .list__tshirt--item h4:hover{
    color: #cfcfcf;
    cursor: pointer;
}
main .list__tshirt .list__tshirt--item h5{
    font-size: 1.6rem;
    color: #111;
    font-weight: 500;
    text-align: center;
}
/*SIZE*/
main .list__tshirt .list__tshirt--item:hover .size{
    opacity: 1;
    visibility: visible;
}
.list__tshirt--item .size{
    list-style: none;
    position: absolute;
    bottom: 18%;
    left: 4.5%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
}
.list__tshirt--item .size .sizes{
    position: relative;
}
.list__tshirt--item .size .sizes a{
    font-size: 1.3rem;
    text-transform: uppercase;
    list-style: none;
    padding: 5px 0 ;
    padding-left: 37px;
    border: 1px solid black;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}
.list__tshirt--item .size .sizes a:hover{
    background-color: gainsboro;
}
.list__tshirt--item .size .sizes a i{
    padding-left: 29px;
    padding-right: 5px;
    font-size: 1rem;
}
.list__tshirt--item .size .sizes:hover .list__size{
    opacity: 1;
    visibility: visible;
    border-bottom: none;
}
.list__tshirt--item .size .sizes .list__size{
    position: absolute;
    top: -406%;
    left: 0;
    right: 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid black;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
}
.list__tshirt--item .size .sizes .list__size--item{
    padding: 5px 25px;
    text-align: center;
    cursor: pointer;
}
.list__tshirt--item .size .sizes .list__size--item:hover{
    background-color: gainsboro;
}

footer .bottom{
    background-color: #1c1d26;
    color: #fff;
    padding: 2rem 8.5rem;
}
footer .bottom .bottom__container{
    display: flex;
    justify-content: space-around;
}
footer .bottom .bottom__container .bottom__item{
    flex-basis: 22%;
}
footer .bottom .bottom__container .bottom__item h1{
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}
footer .bottom .bottom__container .bottom__item h2{
    font-size: 1.3rem;
    color: #bdbdbd;
    padding: 5px 0;
}
footer .bottom .bottom__container .bottom__item p{
    font-size: 1.1rem;
    color: #bdbdbd;
    line-height: 26px;
}

@media  screen and (max-width: 500px) {

    .header1 {
        flex-direction: column;
    }
    .header1 h4 {
        margin-left: 0;
    }
    .header1 i {
        text-align: right;
        margin-right: 0;
    }
   .header2__nav{
       display: none;
 }
   .header2__menu{
       background-image: url(./img/menu.png);
       background-repeat: no-repeat;
       width: 40px;
       height: 40px;
       background-position: center;
       background-size: cover;
       flex-basis: 30%;
  }
  .header2 {
    align-items: center;
}
.header2__logo {
    flex-basis: 30%;
}
.header2__logo img {
    width: 53%;
}
.header2__search {
    flex-basis: 10%;
    padding-bottom: 25px;
}
.header2__account {
    flex-basis: 10%;
    padding-bottom: 25px;
}
.header__cart {
    flex-basis: 10%;
    padding-bottom: 25px;
}

main .introduce p {
    padding: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}
main .filters__container {
    justify-content: space-around;
    margin-top: 15px;
    flex-wrap: wrap;
    padding: 0;
}
main .filters__container .filter__item1 {
    flex-basis: 40%;
}
main .filters__container .filter__item2 {
    flex-basis: 40%;
}
main .filters__container .filter__item3 {
    flex-basis: 40%;
    margin-top: 10px;
}
main .filters__container .filter__item4 {
    flex-basis: 40%;
    margin-top: 10px;
}
main .list__tshirt {
    padding: 0;
    justify-content: space-around;
    flex-wrap: wrap;
}

main .list__tshirt .list__tshirt--item {
    flex-basis: 45%;
}

footer .bottom {
    padding: 20px;
}
footer .bottom .bottom__container {
    flex-direction: column;
}
footer .bottom .bottom__container .bottom__item {
    margin-bottom: 25px;
}
.banner__item--txt button {
    padding: 5px 15px;  
    font-size: 13px;
 
}
}